{% extends 'admin/change_form.html' %}
{% block after_field_sets %}
    {{ block.super }}
<script type="text/javascript">
    var imgInputs=document.getElementsByClassName('file-upload')
    for (let i = 0; i < 6; i++) {
        console.log(i+1)
        imgInputs[i].querySelector('#id_picture'+(i+1)).addEventListener('change', function(e) {
            var imgCont=document.getElementsByTagName('img')[i]
            var tgt = event.target || window.event.srcElement, files = tgt.files;

            if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                imgCont.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('Our browser does not support File Reader ((Whatever that means))')
        }
        })
    }
</script>
{% endblock after_field_sets %}