{% extends "base.html" %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'product/style.css' %}">
{% endblock links %}

{% block content %}
{% if user.is_superuser or user.is_staff %}
<div class="row my-5">
    <div class="col-2 text-start ms-5">
        <input id='catfield' class="form-control form-control-lg" type="text" placeholder="{{ category.name }}" aria-label=".form-control-lg example">
    </div>
    <div class="col text-start mx-1">
        <button type="button" class="btn btn-info btn-lg" id="cn{{ category.id }}" onclick="ChangeName(this.id)">Save</button>
    </div>
</div>

<div class="box-element">
    <div class="cart-row">
        <div class="vr"></div>
        <div class="text-center" style="flex:2"><strong>Subcategory Name</strong></div>
        <div class="vr"></div>
        <div class="text-center" style="flex:1"><strong></strong></div>
        <div class="vr"></div>
    </div>

    {% for i in subcategories %}
    <div class="cart-row">
        <div class="vr"></div>
        <div class="text-center" style="flex:2">
            <p id="p{{ i.id }}">{{i.name}}</p>
            <input class="form-control form-control hidden mx-auto" style="width:60%;" type="text" placeholder="{{ i.name }}" id="name{{ i.id }}" aria-label=".form-control-lg example">
        </div>
        <div class="vr"></div>
        <div class="text-center" style="flex:1">
            <button type="button" class="btn btn-info" id="{{ i.id }}" onclick="ShowFields(this.id)">Edit</button>
            <a href="{% url 'delete-subcategory' id=i.id %}" class="btn btn-danger mx-3" role="button">Delete</a>
            <button type="button" class="btn btn-info hidden" id="h{{ i.id }}" onclick="HideFields(this.id)">Save</button>    
        </div>
        <div class="vr"></div>
    </div>
    {% endfor %}

    <hr></hr>

    <div class="cart-row">
        <div class="vr"></div>
        <div class="text-center" style="flex:2">
            <input class="form-control form-control mx-auto" style="width:60%;" type="text" placeholder="New Subcategory" id="newname" aria-label=".form-control-lg example">
        </div>
        <div class="vr"></div>
        <div class="text-center" style="flex:1">
            <button type="button" class="btn btn-info" id="newsub" onclick="CreateSub(this.id)">Create</button>    
        </div>
        <div class="vr"></div>
    </div>
</div>
{% else %}
<hr class="my-4">
<h6 class="text-muted">You don`t have permission to manage categories!</h6>
<hr class="my-4">
{% endif %}

{% endblock content %}