{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/preview-hover.css' %}">
{% endblock links %}

{% block content %}
<div class="container-fluid">
    <div class="single-product">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row gx-5">
                <div class="col-6">
                    <div class="breadcrumb">
                        <span><a href="{% url 'homepage' %}">Home</a></span>
                        <span class="active">Create Product</span>
                    </div>
                    <div class="product-image">
                        <div class="product-image-main">
                            <div class="hovereffect">
                                <div class="static">
                                    <div class="holder">
                                        <img class='.img-preview form-control product-image-main' id="imgPreview" src="/static/product/images/add_image1.png" alt="pic" />
                                    </div>
                                </div>
                                <div class="mask" style="background-color: hsla(217, 89%, 51%, 0.5)">
                                </div>
                                <div class="overlay">
                                    <button type="button" class="btn btn-danger" id="aimg1" onclick="AddField(this.id)">Add Image</button>
                                </div>
                                <div id="hiddenform" class="hidden"></div>
                            </div>
                        </div>
                        <div class="product-image-slider">
                            <img src="/static/product/add_image1.png" alt=""  data-hasimg='false' class="image-list" id="img1">
                            <img src="/static/product/add_image1.png" alt=""  data-hasimg='false' class="image-list" id="img2">
                            <img src="/static/product/add_image1.png" alt=""  data-hasimg='false' class="image-list" id="img3">
                            <img src="/static/product/add_image1.png" alt=""  data-hasimg='false' class="image-list" id="img4">
                            <img src="/static/product/add_image1.png" alt=""  data-hasimg='false' class="image-list" id="img5">
                            <img src="/static/product/add_image1.png" alt=""  data-hasimg='false' class="image-list" id="img6">
                            <img src="/static/product/add_image1.png" alt=""  data-hasimg='false' class="image-list" id="img7">
                        </div>
                    </div>                 
                </div>
                <div class="col-6">
                    <div class="product">
                        <div class="product-title">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingName" placeholder="name" name="productName">
                                <label for="floatingInput">Product Name</label>
                            </div>
                        </div>
                        <div class="product-price">
                            <span class="offer-price input-group mb-3 w-35 mx-3">
                                <span class="input-group-text" id="basic-addon1">$</span>
                                <input type="text" class="form-control old-price" placeholder="Price" aria-label="Price" aria-describedby="basic-addon1" id="inputPrice" name="price">
                            </span>
                            <span class="offer-price input-group mb-3 w-35 discount">
                                <button type="button" class="btn btn-info" onclick="AddDiscount()">Add a discount</button>
                            </span>
                            <span class="offer-price input-group mb-3 w-35 mx-3 hide-discount hidden">
                                <button type="button" class="btn btn-info" onclick="RemoveDiscount()">Remove a discount</button>
                            </span>
                        </div>

                        <div class="product-details">
                            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                        </div>
                        
                        <span class="divider"></span>

                        <div id="categorydiv" class="my-3">
                            <select name="category" id="selectCategory" class="form-select w-35" aria-label="Default select example" onchange="ShowSubcategory();" onfocus="this.selectedIndex = -1;">
                                <option id='selectcategory' selected>Select category</option>
                                {% for i in categories %}
                                <option id='{{ i.id }}'>{{ i.name }}</option>
                                {% endfor %}
                            </select>
                            <button id="category" type="button" class="btn btn-info my-3" onclick="AddCategory()">Add a category</button>
                            <button id="delcategory" type="button" class="btn btn-danger my-3 hidden" onclick="DeleteCategory()">Delete this category</button>
                        </div>

                        <div id="subcategory" class="my-3 hidden">
                            <select name="subcategory" id="selectSubcategory" class="form-select" aria-label="Default select example" onchange="ShowDelSubcategory();" onfocus="this.selectedIndex = -1;">
                                <option id="selectsubcategory" selected>Select Subcategory</option>
                            </select>
                            <button id="addsubcategorybut" type="button" class="btn btn-info my-3" onclick="AddSubCategory()">Add a subcategory</button>
                            <button id="delsubcategory" type="button" class="btn btn-danger my-3 hidden" onclick="DeleteSubCategory()">Delete this subcategory</button>
                        </div>

                        <div id="categorynameform" class="form-floating mb-3 hidden">
                            <input id='categoryinput' type="text" class="form-control" id="floatingInput" placeholder="name">
                            <label for="floatingInput">Category Name</label>
                            <button type="button" class="btn btn-info my-3" onclick="CreateCategory()">Submit the category</button>
                            <button id="cancelcat" type="button" class="btn btn-danger my-3" onclick="CancelCategory()">Cancel</button>
                        </div>

                        <div id="subcategorynameform" class="form-floating mb-3 hidden">
                            <input id='subcategoryinput' type="text" class="form-control" id="floatingInput" placeholder="name">
                            <label for="floatingInput">Subcategory Name</label>
                            <button type="button" class="btn btn-info my-3" onclick="CreateSubCategory()">Submit the subcategory</button>
                            <button id="cancelsubcat" type="button" class="btn btn-danger my-3" onclick="CancelSubCategory()">Cancel</button>
                        </div>

                        <div class="my-3">
                            <button id="submit" type="button" class="btn btn-primary" onclick="SubmitData()">Submit</button>
                            <button id="submit-hidden" type="submit" class="btn btn-primary hidden">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>    
    </div>
</div>

<script src="{% static 'product/js/edit-slider-input.js' %}"></script>
<script src="{% static 'product/js/create_product.js' %}"></script>

{% endblock content %}