{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'product/style.css' %}">
  <link rel="stylesheet" href="{% static 'product/comment.css' %}">
  <link rel="stylesheet" href="{% static 'product/preview-hover.css' %}">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

{% endblock links %}

{% block content %}
    <div class="container-fluid">
        <div class="single-product">
            <div class="row gx-5">
                <div class="col-6">
                    <div class="breadcrumb">
                        <span><a href="#">Home</a></span>
                        <span><a href="#">Product</a></span>
                        <span class="active">T-shirt</span>
                    </div>
                    <div class="product-image">
                        <div class="product-image-main">
                            <div class="hovereffect">
                                <form>
                                    <div class="static">
                                        <div class="holder">
                                            <img class='.img-preview form-control product-image-main' id="imgPreview" src="/static/product/add_image1.png" alt="pic" />
                                        </div>
                                    </div>
                                    <div class="mask" style="background-color: hsla(217, 89%, 51%, 0.5)">
                                    </div>
                                    <div class="overlay">
                                        <input class="input-photo" type="file" name="photograph"
                                        id="photo1" required="true" onchange="PhotoSection1(event)" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="product-image-slider">
                                <img src="/static/product/add_image1.png" alt=""  class="image-list" id="img1">
                                <img src="/static/product/add_image1.png" alt=""  class="image-list" id="img2">
                                <img src="/static/product/add_image1.png" alt=""  class="image-list" id="img3">
                                <img src="/static/product/add_image1.png" alt=""  class="image-list" id="img4">
                                <img src="/static/product/add_image1.png" alt=""  class="image-list" id="img5">
                                <img src="/static/product/add_image1.png" alt=""  class="image-list" id="img6">
                                <img src="/static/product/add_image1.png" alt=""  class="image-list" id="img7">
                        </div>
                    </div>                 
                </div>
                <div class="col-6">
                    <div class="product">
                        <div class="product-title">
                            <h2>Half Sleve T-shirt for Men</h2>
                        </div>
                        <div class="product-rating">
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span class="review">(47 Reviews)</span>
                        </div>
                        <div class="product-price">
                            <span class="offer-price">$99.00</span>
                            <span class="sale-price">$129.00</span>
                        </div>

                        <div class="product-details">
                            <h3>Description</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos est magnam quibusdam maiores sit perferendis minima cupiditate iusto earum repudiandae maxime vitae nostrum, ea cumque iste ipsa hic commodi tempore.</p>
                        </div>
                        <div class="product-size">
                            <h4>Size</h4>
                            <div class="size-layout">
                                <input type="radio" name="size" value="S" id="1" class="size-input">
                                <label for="1" class="size">S</label>

                                <input type="radio" name="size" value="M" id="2" class="size-input">
                                <label for="2" class="size">M</label>

                                <input type="radio" name="size" value="L" id="3" class="size-input">
                                <label for="3" class="size">L</label>

                                <input type="radio" name="size" value="XL" id="4" class="size-input">
                                <label for="4" class="size">XL</label>

                                <input type="radio" name="size" value="XXL" id="5" class="size-input">
                                <label for="5" class="size">XXL</label>
                            </div>
                        </div>
                        <div class="product-color">
                            <h4>Color</h4>
                            <div class="color-layout">
                                <input type="radio" name="color"  value="black" class="color-input">
                                <label for="black" class="black"></label>
                                <input type="radio" name="color"  value="red" class="color-input">
                                <label for="red" class="red"></label>

                                <input type="radio" name="color"  value="blue" class="color-input">
                                <label for="blue" class="blue"></label>
                            </div>
                        </div>
                        <span class="divider"></span>

                        <div class="product-btn-group">
                            <div class="button buy-now"><i class='bx bxs-zap' ></i> Buy Now</div>
                            <div class="button add-cart"><i class='bx bxs-cart' ></i> Add to Cart</div>
                            <div class="button heart"><i class='bx bxs-heart' ></i> Add to Wishlist</div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>


<script src="{% static 'product/slider-input.js' %}"></script>
<script type="text/javascript">

    var input = document.getElementsByClassName('input-photo')[0];


    function PhotoSection1(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    
    // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var sliderMainImage = document.getElementById("imgPreview");
                sliderMainImage.src = fr.result;
                var sliderImage = document.getElementById("img1");
                sliderImage.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('our browser does not support File Reader (( Whatever that means))')
        }
    }

    function PhotoSection2(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    
    // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var sliderMainImage = document.getElementById("imgPreview");
                sliderMainImage.src = fr.result;
                var sliderImage = document.getElementById("img2");
                sliderImage.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('our browser does not support File Reader (( Whatever that means))')
        }
    }

    function PhotoSection3(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    
    // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var sliderMainImage = document.getElementById("imgPreview");
                sliderMainImage.src = fr.result;
                var sliderImage = document.getElementById("img3");
                sliderImage.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('our browser does not support File Reader (( Whatever that means))')
        }
    }

    function PhotoSection4(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    
    // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var sliderMainImage = document.getElementById("imgPreview");
                sliderMainImage.src = fr.result;
                var sliderImage = document.getElementById("img4");
                sliderImage.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('our browser does not support File Reader (( Whatever that means))')
        }
    }

    function PhotoSection5(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    
    // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var sliderMainImage = document.getElementById("imgPreview");
                sliderMainImage.src = fr.result;
                var sliderImage = document.getElementById("img5");
                sliderImage.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('our browser does not support File Reader (( Whatever that means))')
        }
    }

    function PhotoSection6(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    
    // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var sliderMainImage = document.getElementById("imgPreview");
                sliderMainImage.src = fr.result;
                var sliderImage = document.getElementById("img6");
                sliderImage.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('our browser does not support File Reader (( Whatever that means))')
        }
    }

    function PhotoSection7(evt) {
        var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    
    // FileReader support
        if (FileReader && files && files.length) {
            var fr = new FileReader();
            fr.onload = function () {
                var sliderMainImage = document.getElementById("imgPreview");
                sliderMainImage.src = fr.result;
                var sliderImage = document.getElementById("img7");
                sliderImage.src = fr.result;
            }    
            fr.readAsDataURL(files[0]);
        }
        
        // Not supported
        else {
            console.log('our browser does not support File Reader (( Whatever that means))')
        }
    }
</script>


{% endblock content %}