{% extends "base.html" %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'user/style.css' %}">
{% endblock links %}

{% block content %}
	<h1>Hewwo!</h1>
	{% if product_list %}
	<section class="section-products">
	  <div class='container-md'>
		{% for i in product_list %}
          {% if forloop.first %}
	      <div class="row">
	      {% endif %}
	      	<div class="col-2" style="padding-left:0px;">
			  <div id="product" class="single-product product">
			    <a href="{% url 'product-page' id=i.id %}" style="width:100%;height:100%;display:block">
				  <div class="part-1 hovereffect">
			  	  	<div class="static">
			  	  	<img src='/static{{ i.picture.url }}' class='img-fluid mx-auto d-block static'>
				  	</div>
				  	<div class="mask" style="background-color: hsla(217, 89%, 51%, 0.5)">
				    </div>
			    <div class="overlay">
				  <ul>
					  <li><a href="#" data-product='{{ i.id }}' data-action="add" class='update-cart'><i class="fas fa-shopping-cart"></i></a></li>
					  <li><a href="#"><i class="fas fa-heart"></i></a></li>
				    </ul>
				  </div>
				</div>
				</a>
			    <div class="part-2">
				  <a href="{% url 'product-page' id=i.id %}">
			  	    <h3 class="product-title">{{ i.name }}</h3>
				  </a>
				  <a href="{% url 'product-page' id=i.id %}">
			     	<h4 class="product-old-price">$300.00</h4><h4 class="product-price">${{ i.price|floatformat:2 }}</h4>
				  </a> 
			    </div>
	    	  </div>
			</div>
			{% if forloop.counter|divisibleby:6 %}</div><div class="row">{% endif %}
	    	{% if forloop.last %}
	      	  </div>
	    	{% endif %}
	    {% endfor %}
	  </div>
	</section>
	{% endif %}


{% endblock content %}