{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/preview-hover.css' %}">
{% endblock links %}

{% block content %}

{% if user.is_authenticated %}

<section class="vh-10" style="background-color: #eee;">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-4">
                    <div class="card" style="border-radius: 15px;">
                        <div id="cont" class="card-body text-center">
                            <div id="imgcont" class="mt-3 mb-4">
                                <img id="mainimg" src="/static{{ user.profile_pic.url }}"
                                class="border border-warning-subtle rounded-circle img-fluid mb-3" style="width: 100px; height: 100px;" />
                            </div>
                            <h4 id="username" class="mb-2">{{ user.username }}</h4>
                            <p id="email" class="text-muted mb-4"> {{ user.email }}</p>
                            <button id="alterBut" type="button" class="btn btn-primary btn-rounded btn-lg" onclick=AlterFields()>Alter Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{% else %}

<section class='w-100 p-4 d-flex justify-content-center pb-4 my-5'> 
    <div class="my-5" style='width: 30rem;'>
        <p class = 'display-6 text-center'>You aren`t logged in!~</p>
        <p class="display-6 text-center">You can <a href='{% url "login" %}'>Sign Up</a></p>
        <p class="display-6 text-center">Or go to <a href='{% url "homepage" %}'>Home Page</a></p>
    </div>
</section>

{% endif %}

<script src="{% static 'product/js/profile.js' %}"></script>

{% endblock content %}